.container {
    max-width: 1440px;
    /* width: 100%; */
    margin: 100px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: solid 2px red; */
}

.learnRow {
    display: flex;
    justify-content: space-between;
    margin: 0 101.5px;
    /* border: 2px solid red; */
}

.leftHandSide {
    max-width: 576px;
    height: 468px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* border: 2px solid red; */
}

.learnText {
    font-family: Roboto;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin: 108px 0;
    padding: 10px;
    /* border: solid 2px red; */
}

.blue {
    color: #2563EB;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 352px;
    /* border: solid 2px red; */
    /* margin-top: 24px; */
}

.getStartedBtn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #F8FAFC;
    background-color: #2563EB;
    padding: 10px 29px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #324E66;
    height: 64px;
    cursor: pointer;
    /* border: solid 2px red; */
}

.getStartedBtn:hover {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* color: #F8FAFC; */
    /* background-color: #2563EB; */
    padding: 10px 29px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #324E66;
    height: 64px;
    cursor: pointer;
    /* border: solid 2px red; */
}

.alreadyBtn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #0F172A;
    /* background-color: #2563EB; */
    padding: 10px 29px;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    /* box-shadow: 0 4px 4px #324E66; */
    height: 43px;
    cursor: pointer;
    margin: 10px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 694px;
    height: 694px;
    /* border: 2px solid red; */
    /* width: 100%; */
    /* height: 100%; */
}

.image {
    width: 100%;
    /* height: 100%; */
    /* object-fit: contain; */
}

.infoRow {
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 0 101.5px;
    background-color: #2563EB;
    padding: 25px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* border: #f51e01 solid 2px   ; */
}

.infoCard {
    background-color: #F8FAFC1A;
    max-width: 358px;
    width: 100%;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    /* border: #f51e01 solid 2px   ; */

}

.infoCardBigText,
.infoCardSmallText {
    font-family: Roboto;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;
    /* padding: 10px 29px; */
    /* margin: 10px; */
}

.infoCardBigText {
    font-size: 36px;
}

.infoCardSmallText {
    font-size: 20px;
    color: #FFFFFF99;
}

.footerContainer {
    margin: 0 101.5px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* padding: 80px 70.5px; */
    /* border: 2px solid red; */
}

.stemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stemImgContainer {
    max-width: 100px;
    /* height: 100px; */
}

.stemImg {
    width: 100%;
    height: 100%;
}

.stemText {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #2563EB;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
}

.linkText {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #585858;
}

.copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #585858;
}

@media (max-width: 1440px) {
    /* .container {
        margin: 100px auto;
    } */

    .learnRow ,.infoRow,.footerContainer{
        margin: 0 0px;
    }

}

@media (max-width:1300px) {
    .leftHandSide {
        max-width: 570px;
        /* height: auto; */
    }

    .imageContainer {
        max-width: 670px;
        /* height: auto; */
    }
}

@media (max-width:1160px) {

    .leftHandSide {
        max-width: 520px;
        /* height: auto; */
    }

    .learnText {
        font-size: 58px;
    }   
}

@media (max-width:1130px) {

    .leftHandSide {
        max-width: 480px;
        /* height: auto; */
    }

    .learnText {
        font-size: 54px;
    }   
}

@media (max-width:1040px) {

    .leftHandSide {
        max-width: 450px;
        /* height: auto; */
    }

    .learnText {
        font-size: 50px;
    }   
}

@media (max-width: 930px) {
    .container {
        padding: 0 10px;
    }

    .learnRow {
        flex-direction: column-reverse;
        margin: 0;
    }

    .leftHandSide {
        max-width: 100%;
        padding: 0 10px;
        height: auto;
    }

    .learnText {
        font-size: 90px;
    }  

    .imageContainer {
        max-width: 100%;
        height: auto;
    }

    

    .infoCard {
        max-width: 100%;
        /* width: 100%; 
        height: auto; */
    }

    .footerContainer {
        margin: 0;
        padding: 40px 20px;
    }
}

@media (max-width:880px) {

     .learnText {
        font-size: 80px;
    }  

}

@media (max-width:854px) {
    
    .infoRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

}

@media (max-width: 768px) {

    .learnText {
        font-size: 78px;
    }  
    
    .infoRow {
        display: flex;
        flex-direction: column;
        margin: 0;
        /* padding: 0; */
        /* width: 100%; */
    }
}

@media (max-width: 752px) {

    .learnText {
        font-size: 75px;
    }  
    
}

@media (max-width: 722px) {

    .learnText {
        font-size: 70px;
    }  
    
}

@media (max-width: 686px) {

    .learnText {
        font-size: 65px;
    }  
    
}

@media (max-width: 642px) {

    .learnText {
        font-size: 60px;
    }  
    
}

@media (max-width: 628px) {
    .linkContainer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }   
}

@media (max-width: 602px) {

    .learnText {
        font-size: 55px;
    }  
    
}

@media (max-width: 562px) {

    .learnText {
        font-size: 50px;
    }  
    
}

@media (max-width: 514px) {

    .learnText {
        font-size: 45px;
    }  
    
}

@media (max-width: 476px) {

    .learnText {
        font-size: 40px;
    }  
    
}

@media (max-width: 434px) {

    .learnText {
        font-size: 36px;
    }  
    
}

@media (max-width: 394px) {

    .learnText {
        font-size: 34px;
    }  
    
}

@media (max-width: 384px) {

    .learnText {
        font-size: 32px;
    }  
    
}