.container {
    display: flex;
    justify-content: space-between;
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto;
    padding: 17px 100px;
    /* border: solid 2px red; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F8FAFC;
}

.text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin: 10px;
    color: #2563EB;
    /* border: solid 2px red; */
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    max-width: 296px;
    width: 100%;
    /* border: solid 2px red; */
    /* margin-top: 24px; */
}

.getStartedBtn,
.logInBtn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* background-color: #2563EB; */
    padding: 10px 29px;
    /* margin: 10px; */
    border-radius: 38px;
    /* box-shadow: 0 4px 4px #324E66; */
    height: 43px;
    cursor: pointer;
    /* border: solid 2px red; */
}

.logInBtn {
    color: #0F172A;
    border: solid 2px #B3B3B3;
}

.getStartedBtn {
    color: #F8FAFC;
    background-color: #2563EB;
}