.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    border: solid 2px red;
}

.learnRow {
    display: flex;
    justify-content: space-between;
    margin: 0 101.5px;
}

.leftHandSide {
    max-width: 576px;
    height: 468px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.learnText {
    font-family: Roboto;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin: 108px 0 0 0;
    padding: 10px;
    /* border: solid 2px red; */
}

.blue {
    color: #2563EB;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 352px;
    /* border: solid 2px red; */
    /* margin-top: 24px; */
}

.getStartedBtn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #F8FAFC;
    background-color: #2563EB;
    padding: 10px 29px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #324E66;
    height: 64px;
    cursor: pointer;
    /* border: solid 2px red; */
}

.getStartedBtn:hover {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* color: #F8FAFC; */
    /* background-color: #2563EB; */
    padding: 10px 29px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #324E66;
    height: 64px;
    cursor: pointer;
    /* border: solid 2px red; */
}

.alreadyBtn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #0F172A;
    /* background-color: #2563EB; */
    padding: 10px 29px;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    /* box-shadow: 0 4px 4px #324E66; */
    height: 43px;
    cursor: pointer;
    margin: 10px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 694px;
    height: 694px;
    /* width: 100%; */
    /* height: 100%; */
}

.image {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.infoRow {
    display: flex;
    justify-content: space-between;
    margin: 0 101.5px;
    background-color: #2563EB;
    padding: 25px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.infoCard {
    background-color: #F8FAFC1A;
    max-width: 358px;
    width: 100%;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
}

.infoCardBigText,
.infoCardSmallText {
    font-family: Roboto;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;
    /* padding: 10px 29px; */
    /* margin: 10px; */
}

.infoCardBigText {
    font-size: 36px;
}

.infoCardSmallText {
    font-size: 20px;
    color: #FFFFFF99;
}